:root {
  --color-primary: #4a5bc0;
  --color-secondary: #fff9eb;
  --color-tertiary: #c4c4c4;
  --color-button: #ff9722;
  --color-button-hover: #f5890e;
  --color-text: #444444;
  --color-white: #ffffff;
  --color-black: #272727;
}

/* General styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  height: 100vh;
  background-color: var(--color-primary);
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

/* Banner */
.header-banner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-banner img {
  width: 80vh;
  padding-left: 5rem;
}

/* Game section */
.game-section {
  background-color: var(--color-secondary);
  border: 0.25rem solid var(--color-black);
  border-radius: 3rem 3rem 0 0;
  display: flex;
  padding: 3rem 5rem 3rem 5rem;
  width: 100%;
  height: 100%;
  justify-content: space-between;
}

.input-section {
  width: 65%;
  max-width: 65%;
  background-color: var(--color-secondary);
  display: flex;
  flex-direction: column;
  border-right: 4px solid var(--color-black);
  padding-right: 3rem;
}

.button-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  margin-bottom: 0.5rem;
}

.result-section {
  background-color: var(--color-secondary);
  width: 35%;
  max-width: 35%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding-left: 3rem;
}

/* Titles */
.main-title {
  font-size: 98px;
  font-family: "Poppins", serif;
  font-weight: 600;
  color: var(--color-white);
}

.section-title {
  font-size: 54px;
  font-weight: 700;
  color: var(--color-primary);
  text-align: center;
}

.result-title {
  font-size: 40px;
  font-weight: 700;
  color: var(--color-primary);
  text-align: start;
  align-items: center;
}

/* Input and button containers */
.input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.text-field {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
}

.errorMessage {
  margin-left: 1rem;
  color: red;
}

.input-name {
  width: 100%;
  padding: 0.5rem 2rem 0.5rem 2rem;
  border: 2px solid var(--color-black);
  margin-right: -2px;
  border-radius: 2rem 0 0 2rem;
  font-size: 16px;
}

.button-container {
  justify-content: center;
}

.resultBtnContainer {
  display: flex;
  width: 100%;
  justify-content: stretch;
  gap: 2rem;
}

/* Text input styles */
.input-title {
  flex: 1;
  padding: 10px 15px;
  font-size: 16px;
  border: 2px solid #333;
  border-right: none;
  border-radius: 25px 0 0 25px;
  font-family: "Poppins", serif;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* Button styles */
button {
  background-color: var(--color-button);
  color: var(--color-white);
  padding: 1rem 1rem;
  font-size: 16px;
  border: 2px solid var(--color-black);
  border-radius: 1rem;
  box-shadow: 0.4rem 0.4rem var(--color-black);
  cursor: pointer;
  display: flex;
  align-items: center;
  font-weight: 500;
  gap: 1rem;
}

.button-add {
  background-color: #4a5bc0;
  border-radius: 0 2rem 2rem 0;
  translate: -0.4rem -0.4rem;
  font-size: 22px;
  font-weight: 600;
  color: var(--color-white);
  padding: 0.8rem 1rem 0.8rem 1rem;
}

.button-add:active,
.button-add.keyboard {
  background-color: #394897;
  box-shadow: none;
  translate: 0 0;
}

i {
  font-size: 24px;
  align-self: center;
}

/* Lists */
ul {
  display: flex;
  gap: 1rem;
  max-width: 100%;
  flex-wrap: wrap;
  list-style-type: none;
  color: var(--color-text);
  font-family: "Inter", sans-serif;
  font-size: 18px;
  margin: 20px 0;
}

.nameButton {
  background-color: #4a5bc0;
  align-items: center;
}

.nameButton:active {
  background-color: #394897;
  box-shadow: none;
  translate: 0.4rem 0.4rem;
}

.result-list {
  width: 100%;
  color: #05df05;
  font-size: 72px;
  font-weight: bold;
  text-wrap: wrap;
}

#hiddenIcon {
  width: 100%;
  text-align: center;
}

/* Draw button */
.button-draw {
  width: 100%;
  font-size: 22px;
}

.button-draw:disabled {
  background-color: var(--color-secondary);
  color: var(--color-tertiary);
  box-shadow: none;
  border: 2px solid var(--color-tertiary);
  cursor: auto;
  pointer-events: none;
}

.button-draw:active {
  background-color: var(--color-button-hover);
  box-shadow: none;
  translate: 0.4rem 0.4rem;
}

/* Clear name button */
.button-hide {
  background-color: var(--color-primary);
  color: var(--color-white);
  font-size: 18px;
}

.button-hide:active {
  background-color: #394897;
  box-shadow: none;
  translate: 0.4rem 0.4rem;
}

.button-hide:disabled {
  background-color: var(--color-secondary);
  color: var(--color-tertiary);
  box-shadow: none;
  border: 2px solid var(--color-tertiary);
  cursor: auto;
  pointer-events: none;
}

#hiddenIcon {
  color: #ffbe75a2;
}

#hiddenIcon .fa-solid.fa-eye-slash {
  font-size: 120px;
}

/* Restart button */
.button-reset {
  background-color: var(--color-button);
  color: var(--color-white);
  font-size: 18px;
}

.button-reset:active {
  background-color: var(--color-button-hover);
  box-shadow: none;
  translate: 0.4rem 0.4rem;
}

.button-reset:disabled {
  background-color: var(--color-secondary);
  color: var(--color-tertiary);
  box-shadow: none;
  border: 2px solid var(--color-tertiary);
  cursor: auto;
  pointer-events: none;
}

/* Responsiveness */
@media (max-width: 1635px) {
  /* Titles */
  .main-title {
    font-size: 90px;
  }

  .section-title {
    font-size: 34px;
  }

  .result-title {
    font-size: 34px;
  }

  /* Buttons */
  .button-reset,
  .button-hide,
  .button-draw,
  .nameButton {
    font-size: 16px;
  }

  .button-add {
    font-size: 18px;
  }

  /* Game section */
  .game-section {
    padding: 3rem;
  }

  /* Lists */
  .result-list {
    font-size: 48px;
  }
}

@media (max-width: 1328px) {
  /* Titles */
  .main-title {
    font-size: 70px;
  }

  .section-title {
    font-size: 30px;
  }

  .result-title {
    font-size: 30px;
  }

  /* Buttons */
  .button-reset,
  .button-hide,
  .button-draw,
  .nameButton {
    font-size: 14px;
    padding: 0.8rem 0.8rem;
  }

  .button-add {
    font-size: 16px;
    font-weight: 600;
    padding: 0.8rem 0.8rem;
  }

  /* Game Section */
  .input-section {
    padding-right: 1.5rem;
    border-right: 2px solid var(--color-black);
  }

  .result-section {
    padding-left: 1.5rem;
  }

  /* Lists */
  .result-list {
    font-size: 38px;
  }
}

@media (max-width: 1100px) {
  /* Banner */
  .header-banner img {
    width: 65vh;
    padding-left: 2.5rem;
  }

  /* Titles */
  .main-title {
    font-size: 64px;
  }

  .section-title {
    font-size: 28px;
  }

  .result-title {
    font-size: 30px;
  }

  /* Buttons */
  .button-reset,
  .button-hide,
  .button-draw,
  .nameButton {
    font-size: 14px;
    padding: 0.5rem 0.8rem;
  }

  .button-add {
    font-size: 16px;
    font-weight: 600;
    padding: 0.8rem 0.8rem;
  }

  /* Game Section */
  .input-section {
    padding-right: 1.5rem;
    border-right: 2px solid var(--color-black);
  }

  .result-section {
    padding-left: 1.5rem;
  }

  /* Lists */
  .result-list {
    font-size: 38px;
  }

  /* Input and button containers */
  .input-name {
    font-size: 16px;
  }
}

@media (max-width: 770px) {
  /* Banner */

  .header-banner img {
    width: 40vh;
    padding-left: 2.5rem;
  }

  /* Titles */
  .main-title {
    font-size: 54px;
    margin-left: 2rem;
  }

  .result-title {
    font-size: 28px;
  }

  /* Game section */
  .game-section {
    flex-direction: column;
  }

  .input-section {
    padding-right: 0;
    padding-bottom: 1.5rem;
    border-right: none;
    border-bottom: 2px solid var(--color-black);
    max-width: 100%;
    width: 100%;
    height: 100%;
  }

  .result-section {
    width: 100%;
    max-width: 100%;
    padding-left: none;
    padding-top: 1.5rem;
  }

  /* Lists */
  .result-list {
    font-size: 28px;
  }
}

@media (max-width: 550px) {
  /* Banner */
  .header-banner img {
    width: 35vh;
    padding-left: 1.5rem;
  }

  /* Titles */
  .main-title {
    font-size: 32px;
  }

  .section-title {
    font-size: 28px;
    text-align: start;
  }

  .result-title {
    font-size: 24px;
  }

  /* Game section */
  .game-section {
    padding: 2rem;
  }

  /* Input and button containers */
  .input-name {
    font-size: 14px;
    padding: 0.5rem 1rem 0.5rem 1rem;
  }

  /* Buttons */
  .button-reset,
  .button-hide,
  .button-draw,
  .nameButton {
    font-size: 12px;
    padding: 0.3rem 0.6rem;
  }
}
